<!DOCTYPE html>
<html lang="zh">
    
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
        <title>公告列表</title>
        <meta name="description" content="Luosimao">
        <link rel="stylesheet" href="//s.luosimao.com/bower/asset/dashboard.css?v=201608251421.css" />
        <script src="//s.luosimao.com/js/modernizr.js?v=201608251421.js"></script>
    </head>
    
    <body>
        <div class="off-canvas-wrap">
            <div class="inner-wrap">
                <header class="header hide-for-small">
                    <div class="logo">
                        <a href="https://my.luosimao.com/dashboard">Luosimao</a></div>
                    <nav class="nav">
                        <a class="link  active" href="https://my.luosimao.com/dashboard">概览</a>
                        <a class="link " href="https://my.luosimao.com/contact">通讯录</a>
                        <a class="link " href="https://sms-my.luosimao.com/send/batch">短信</a>
                        <a class="link " href="https://mail-my.luosimao.com/send">邮件</a>
                        <a class="link " href="https://voice-my.luosimao.com/send">语音验证</a>
                        <a class="link " href="https://captcha-my.luosimao.com/site/index">人机验证</a>
                        <a class="link " href="https://my.luosimao.com/shop/goods">充值</a>
                        <a class="link " target="_blank" href="https://luosimao.com/docs/api/">开发文档</a></nav>
                    <div class="menu right">
                        <span class="contact-info">
                            <a href="#" data-dropdown="drop-header-contact" aria-controls="drop-header-contact" aria-expanded="false">
                                <i class="fa fa-support"></i>联系我们</a>
                        </span>
                        <ul id="drop-header-contact" class="f-dropdown contact-info-drop" data-dropdown-content aria-hidden="true" tabindex="-1">
                            <li>
                                <i class="fa fa-phone"></i>021-31234560</li>
                            <li>
                                <a href="http://wpa.qq.com/msgrd?v=3&uin=1845808782&site=qq&menu=yes" target="_blank">
                                    <i class="fa fa-comment"></i>售前咨询</a>
                            </li>
                            <li>
                                <a href="http://wpa.qq.com/msgrd?v=3&uin=1596833994&site=qq&menu=yes" target="_blank">
                                    <i class="fa fa-comment"></i>售后咨询</a>
                            </li>
                            <li>
                                <a href="http://wpa.qq.com/msgrd?v=3&uin=1829923478&site=qq&menu=yes" target="_blank">
                                    <i class="fa fa-comment"></i>技术支持</a>
                            </li>
                        </ul>
                        <span class="member">
                            <a href="#" data-dropdown="drop-header-member" aria-controls="drop-header-member" aria-expanded="false">
                                <i class="fa fa-dashboard"></i>个人面板</a>
                        </span>
                        <div id="drop-header-member" class="f-dropdown content medium header-dropdown" data-dropdown-content aria-hidden="true" tabindex="-1">
                            <div class="header-menu">
                                <div class="menu-hd">
                                    <span class="right">
                                        <a href="https://my.luosimao.com/auth/setting">
                                            <i class="fa fa-cog"></i>修改联系信息</a>
                                    </span>
                                    <span class="username">-</span>
                                    <span class="email">-</span>
                                    <span class="phone">-</span></div>
                                <div class="menu-main">
                                    <ul class="small-block-grid-3">
                                        <li>
                                            <span class="num sms-deposit">-</span>短信余额
                                            <a href="https://my.luosimao.com/shop/goods">充值</a></li>
                                        <li>
                                            <span class="num voice-deposit">-</span>语音余额
                                            <a href="https://my.luosimao.com/shop/goods">充值</a></li>
                                        <li>
                                            <span class="num email-deposit">-</span>邮件余额
                                            <a href="https://my.luosimao.com/shop/goods">充值</a></li>
                                    </ul>
                                </div>
                                <div class="menu-bd">
                                    <!-- <a href="-->
                                    <!--" class="right"><i class="fa fa-power-off"></i> 退出登录</a>-->
                                    <a href="https://my.luosimao.com/user/user_log">查看账户安全日志</a></div>
                            </div>
                        </div>
                        <!-- <a class="setting" href="-->
                        <!--"><i class="fa fa-gear"></i></a>-->
                        <a class="logout" href="https://my.luosimao.com/auth/logout">
                            <i class="fa fa-power-off"></i>
                        </a>
                    </div>
                </header>
                <header class="header-mini show-for-small">
                    <div class="left logo">
                        <a href="https://my.luosimao.com/">Luosimao</a></div>
                    <div class="menu right">
                        <a href="#" class="right-off-canvas-toggle">
                            <i class="fa fa-bars"></i>
                        </a>
                    </div>
                </header>
                <aside class="right-off-canvas-menu side-panel">
                    <div class="user-block">
                        <span class="name">iamwangcan</span>
                        <a href="https://my.luosimao.com/auth/setting" class="setting" title="个人设置">
                            <i class="fa fa-cog"></i>
                        </a>
                    </div>
                    <ul class="contact-info">
                        <li>
                            <a href="tel:021-31234560">
                                <i class="fa fa-phone"></i>021-31234560</a>
                        </li>
                        <li>
                            <a href="http://wpa.qq.com/msgrd?v=3&uin=1845808782&site=qq&menu=yes" target="_blank">
                                <i class="fa fa-comment"></i>售前咨询</a>
                        </li>
                        <li>
                            <a href="http://wpa.qq.com/msgrd?v=3&uin=1596833994&site=qq&menu=yes" target="_blank">
                                <i class="fa fa-comment"></i>售后咨询</a>
                        </li>
                        <li>
                            <a href="http://wpa.qq.com/msgrd?v=3&uin=1829923478&site=qq&menu=yes" target="_blank">
                                <i class="fa fa-comment"></i>技术支持</a>
                        </li>
                    </ul>
                    <nav class="nav">
                        <ul class="nav-list">
                            <li>
                                <a href="https://my.luosimao.com/dashboard" title="概览">概览</a></li>
                            <li>
                                <a href="https://my.luosimao.com/shop/goods" title="充值">充值</a></li>
                            <li>
                                <a href="https://my.luosimao.com/contact" title="通讯录">通讯录</a></li>
                            <li>
                                <a href="https://sms-my.luosimao.com/send/batch" title="短信服务">短信</a></li>
                            <li>
                                <a href="https://mail-my.luosimao.com/send" title="邮件服务">邮件</a></li>
                            <li>
                                <a target="_blank" href="https://luosimao.com/docs/api/">开发文档</a></li>
                            <li>
                                <a href="https://my.luosimao.com/auth/logout" class="button alert small expand radius" title="退出">退出</a></li>
                        </ul>
                    </nav>
                </aside>
                <div class="container">
                    <aside class="sidebar">
                        <ul class="side-list">
                            <li>
                                <a href="https://my.luosimao.com/">服务概览</a></li>
                            <li class="active">
                                <a href="https://my.luosimao.com/article">网站公告</a></li>
                            <li>
                                <a href="https://my.luosimao.com/auth/setting">账号设置</a></li>
                            <li>
                                <a href="https://my.luosimao.com/user/user_log">安全日志</a></li>
                        </ul>
                    </aside>
                    <section class="main-wrap dash-main-wrap">
                        <div class="pager-block">
                            <div class="pager-title-block">
                                <div class="title">网站公告</div>
                                <div class="sub-title">我们会第一时间发布各类更新和网站的变化，敬请关注</div></div>
                            <ul class="breadcrumbs">
                                <li>
                                    <a href="https://my.luosimao.com/dashboard">概览</a></li>
                                <li>
                                    <a href="https://my.luosimao.com/article/index">网站公告</a></li>
                                <li>网站公告列表</li></ul>
                        </div>
                        <div class="row">
                            <div class="small-12 columns">
                                <div class="article-block">
                                    <div class="article-item">
                                        <div class="title">
                                            <a href="https://my.luosimao.com/article/detail/76">服务价格调整公告</a></a>
                                        </div>
                                        <div class="timer">
                                            <i class="fa fa-clock-o"></i>2016-07-13 10:57:20</div>
                                        <div class="summary">亲爱的Luosimao会员： 为回馈新老客户的长期支持与合作，Luosimao自即日起（2016-07-13）对网站相关产品进行价格下调，具体调整情况如下： &nbsp; （1）短信服务 产品名称 旧价格(元) 新价格(元) 短信服务1万条 850 550 短信服务2万条 1600 1060 ...</div>
                                        <div class="etc">
                                            <a href="https://my.luosimao.com/article/detail/76">查看全文 &gt;&gt;</a></div>
                                    </div>
                                    <div class="article-item">
                                        <div class="title">
                                            <a href="https://my.luosimao.com/article/detail/63">关于防范短信被刷的重要通知</a></a>
                                        </div>
                                        <div class="timer">
                                            <i class="fa fa-clock-o"></i>2014-07-29 11:04:00</div>
                                        <div class="summary">亲爱的Luosimao会员： 近期大量会员遭遇短信轰炸机攻击，接口被刷导致余额很快消耗以及被用户投诉的情况，请各位会员仔细阅读如下说明并做好相关防护工作。 请网站、微信页面等应用尚未添加图形验证的会员尽快添加 &nbsp; 一、什么是短信轰炸（短信接口被刷） 短信轰炸一般基于 WEB 方式(基于客户端方式的原理与之类似)，由两个模块组成，包括:一个前端 Web 网页，提供输入被攻击者手机...</div>
                                        <div class="etc">
                                            <a href="https://my.luosimao.com/article/detail/63">查看全文 &gt;&gt;</a></div>
                                    </div>
                                    <div class="article-item">
                                        <div class="title">
                                            <a href="https://my.luosimao.com/article/detail/74">近期网站重要功能更新公告</a></a>
                                        </div>
                                        <div class="timer">
                                            <i class="fa fa-clock-o"></i>2016-05-07 12:50:21</div>
                                        <div class="summary">亲爱的Luosimao会员， 近期Luosimao新增了如下重要的功能： （1）短信接收状态 （2）短信模板管理 （3）上行短信 （4）黑名单管理 &nbsp; &nbsp; 以下为详细功能说明： 一、短信接收状态 短信接收状态是运营商返回的用户终端是否接收短信的准确说明。 目前可以在管理中心 - 短信 - 发送历史中了解到短信下发的具体接收情况。 （一）状态说明 短信接收状态...</div>
                                        <div class="etc">
                                            <a href="https://my.luosimao.com/article/detail/74">查看全文 &gt;&gt;</a></div>
                                    </div>
                                    <div class="article-item">
                                        <div class="title">
                                            <a href="https://my.luosimao.com/article/detail/73">2016年春节放假期间工作安排通知</a></a>
                                        </div>
                                        <div class="timer">
                                            <i class="fa fa-clock-o"></i>2016-01-22 10:54:14</div>
                                        <div class="summary">各位亲爱的Luosimao会员：&nbsp; &nbsp; 时光荏苒，岁月如梭，不经意间2015年已经挥手与我们告别了。在新年到来之际，我们向您致以最诚挚的问候，感谢您在过去的一年中对我们的理解与支持，祝您新年快乐，万事如意！ &nbsp; Luosimao平台将于2月3日-2月13日放假，届时会有客服人员值班，短信、语音、邮件充值及审核正常运行。 涉及到的影响如下：&nbsp; 一、...</div>
                                        <div class="etc">
                                            <a href="https://my.luosimao.com/article/detail/73">查看全文 &gt;&gt;</a></div>
                                    </div>
                                    <div class="article-item">
                                        <div class="title">
                                            <a href="https://my.luosimao.com/article/detail/71">2015年国庆放假期间工作安排通知</a></a>
                                        </div>
                                        <div class="timer">
                                            <i class="fa fa-clock-o"></i>2015-09-25 11:15:24</div>
                                        <div class="summary">各位亲爱的Luosimao会员：&nbsp; 国庆将至，luosimao祝大家国庆快乐、天天开心。 Luosimao平台将于10月1日-10月7日放假，届时会有客服人员值班，短信充值及审核正常运行。 涉及到的影响如下：&nbsp; 一、发票开具时间 在10月1日至10月7日放假期间，后台可正常提交发票开具申请，放假期间发票将顺延至节后寄出，请您注意时间安排。 放假前发票邮寄截止时间为2...</div>
                                        <div class="etc">
                                            <a href="https://my.luosimao.com/article/detail/71">查看全文 &gt;&gt;</a></div>
                                    </div>
                                    <div class="article-item">
                                        <div class="title">
                                            <a href="https://my.luosimao.com/article/detail/69">2015年春节放假期间工作安排通知</a></a>
                                        </div>
                                        <div class="timer">
                                            <i class="fa fa-clock-o"></i>2015-02-04 11:08:39</div>
                                        <div class="summary">各位亲爱的Luosimao会员：&nbsp; 新年将至，luosimao祝大家羊年大吉、新春快乐 :D Luosimao平台将于2月13日-2月24日放假，届时会有客服人员值班，短信充值及审核正常运行，如给大家造成不便，敬请见谅。&nbsp; 涉及到的影响如下：&nbsp; 一、发票开具时间 在2月13日至2月24日放假期间，后台可正常提交发票开具申请，放假期间发票将顺延至节后寄出，请您...</div>
                                        <div class="etc">
                                            <a href="https://my.luosimao.com/article/detail/69">查看全文 &gt;&gt;</a></div>
                                    </div>
                                    <div class="article-item">
                                        <div class="title">
                                            <a href="https://my.luosimao.com/article/detail/67">短信验证码-新老客户须知</a></a>
                                        </div>
                                        <div class="timer">
                                            <i class="fa fa-clock-o"></i>2014-11-04 15:31:27</div>
                                        <div class="summary">近期大量客户短信验证码接口被盗刷，现做如下调整： 1、网页页面发送验证码，必须增加图形验证，详情点击，否则，移动将显示手机号。已对页面进行调整的，请发送邮件至support@luosimao.com 邮件格式如下： 标题：图形验证增加 内容格式： 用户名： 添加的网址： 2、手机APP类应用可暂不加图形验证，但需自行做好监控。 3、对于疑似被刷的客户，我们先会临时切换通道，并电话联...</div>
                                        <div class="etc">
                                            <a href="https://my.luosimao.com/article/detail/67">查看全文 &gt;&gt;</a></div>
                                    </div>
                                    <div class="article-item">
                                        <div class="title">
                                            <a href="https://my.luosimao.com/article/detail/66">国庆期间服务运行公告</a></a>
                                        </div>
                                        <div class="timer">
                                            <i class="fa fa-clock-o"></i>2014-09-28 13:49:24</div>
                                        <div class="summary">各位亲爱的Luosimao会员： &nbsp; 国庆长假期间（10.1 - 10.7），Luosimao的服务情况如下： &nbsp; （1）在线客服（售前咨询、技术支持）将暂停服务 您有任何问题可以直接给在线客服留言或发送邮件至support@luosimao.com，我们会定期查看并回复 如遇紧急情况（帐号被封停、短信无法发送）可联系：13761428268 &nbsp; （2...</div>
                                        <div class="etc">
                                            <a href="https://my.luosimao.com/article/detail/66">查看全文 &gt;&gt;</a></div>
                                    </div>
                                    <div class="article-item">
                                        <div class="title">
                                            <a href="https://my.luosimao.com/article/detail/62">关于违规短信内容的重要说明</a></a>
                                        </div>
                                        <div class="timer">
                                            <i class="fa fa-clock-o"></i>2014-07-22 17:52:37</div>
                                        <div class="summary">亲爱的Luosimao会员： 近期我们发现部分会员在使用短信通道时，出现如下违规现象，特此通知 （1） 严禁在验证码短信中夹带广告、网站口号、网站网址等其他无关信息。 标准验证码短信的格式参考如下： 验证码：2827262，请勿将此验证码发给任何号码及其他人，若非本人操作，请忽略本条短信【铁壳】 （2）严禁发送邀请性质或其他变相的通知内容给非自己的会员。 所有接收方事先不知道或不同...</div>
                                        <div class="etc">
                                            <a href="https://my.luosimao.com/article/detail/62">查看全文 &gt;&gt;</a></div>
                                    </div>
                                    <div class="article-item">
                                        <div class="title">
                                            <a href="https://my.luosimao.com/article/detail/61">请勿随意变更签名，以免造成无法发送</a></a>
                                        </div>
                                        <div class="timer">
                                            <i class="fa fa-clock-o"></i>2014-07-16 17:22:37</div>
                                        <div class="summary">hi,各位尊敬的会员， &nbsp; &nbsp;请各位固定您的发送签名，不要随意变化，以免造成无法发送。...</div>
                                        <div class="etc">
                                            <a href="https://my.luosimao.com/article/detail/61">查看全文 &gt;&gt;</a></div>
                                    </div>
                                </div>
                                <div class="pagination-centered">
                                    <ul class="pagination">
                                        <li class="current">
                                            <a href="javascript:void(0);">1</a></li>
                                        <li>
                                            <a href="https://my.luosimao.com/article/index/2">2</a></li>
                                        <li>
                                            <a href="https://my.luosimao.com/article/index/3">3</a></li>
                                        <li>
                                            <a href="https://my.luosimao.com/article/index/2">&raquo;</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <a href="#" class="exit-off-canvas"></a>
            </div>
        </div>
        <script src="//s.luosimao.com/js/jquery-2.1.0.js?v=201608251421.js"></script>
        <script src="//s.luosimao.com/js/foundation.min.js?v=201608251421.js"></script>
        <script src="//s.luosimao.com/js/module/main.js?v=201608251421.js"></script>
    </body>

</html>
