<!doctype html>
<html lang="zh">
    
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
        <title>订单列表</title>
        <meta name="description" content="Luosimao">
        <link rel="stylesheet" href="//s.luosimao.com/bower/asset/dashboard.css?v=201608251421.css" />
        <script src="//s.luosimao.com/js/modernizr.js?v=201608251421.js"></script>
    </head>
    
    <body>
        <div class="off-canvas-wrap">
            <div class="inner-wrap">
                <header class="header hide-for-small">
                    <div class="logo">
                        <a href="https://my.luosimao.com/dashboard">Luosimao</a></div>
                    <nav class="nav">
                        <a class="link " href="https://my.luosimao.com/dashboard">概览</a>
                        <a class="link " href="https://my.luosimao.com/contact">通讯录</a>
                        <a class="link " href="https://sms-my.luosimao.com/send/batch">短信</a>
                        <a class="link " href="https://mail-my.luosimao.com/send">邮件</a>
                        <a class="link " href="https://voice-my.luosimao.com/send">语音验证</a>
                        <a class="link " href="https://captcha-my.luosimao.com/site/index">人机验证</a>
                        <a class="link  active" href="https://my.luosimao.com/shop/goods">充值</a>
                        <a class="link " target="_blank" href="https://luosimao.com/docs/api/">开发文档</a></nav>
                    <div class="menu right">
                        <span class="contact-info">
                            <a href="#" data-dropdown="drop-header-contact" aria-controls="drop-header-contact" aria-expanded="false">
                                <i class="fa fa-support"></i>联系我们</a>
                        </span>
                        <ul id="drop-header-contact" class="f-dropdown contact-info-drop" data-dropdown-content aria-hidden="true" tabindex="-1">
                            <li>
                                <i class="fa fa-phone"></i>021-31234560</li>
                            <li>
                                <a href="http://wpa.qq.com/msgrd?v=3&uin=1845808782&site=qq&menu=yes" target="_blank">
                                    <i class="fa fa-comment"></i>售前咨询</a>
                            </li>
                            <li>
                                <a href="http://wpa.qq.com/msgrd?v=3&uin=1596833994&site=qq&menu=yes" target="_blank">
                                    <i class="fa fa-comment"></i>售后咨询</a>
                            </li>
                            <li>
                                <a href="http://wpa.qq.com/msgrd?v=3&uin=1829923478&site=qq&menu=yes" target="_blank">
                                    <i class="fa fa-comment"></i>技术支持</a>
                            </li>
                        </ul>
                        <span class="member">
                            <a href="#" data-dropdown="drop-header-member" aria-controls="drop-header-member" aria-expanded="false">
                                <i class="fa fa-dashboard"></i>个人面板</a>
                        </span>
                        <div id="drop-header-member" class="f-dropdown content medium header-dropdown" data-dropdown-content aria-hidden="true" tabindex="-1">
                            <div class="header-menu">
                                <div class="menu-hd">
                                    <span class="right">
                                        <a href="https://my.luosimao.com/auth/setting">
                                            <i class="fa fa-cog"></i>修改联系信息</a>
                                    </span>
                                    <span class="username">-</span>
                                    <span class="email">-</span>
                                    <span class="phone">-</span></div>
                                <div class="menu-main">
                                    <ul class="small-block-grid-3">
                                        <li>
                                            <span class="num sms-deposit">-</span>短信余额
                                            <a href="https://my.luosimao.com/shop/goods">充值</a></li>
                                        <li>
                                            <span class="num voice-deposit">-</span>语音余额
                                            <a href="https://my.luosimao.com/shop/goods">充值</a></li>
                                        <li>
                                            <span class="num email-deposit">-</span>邮件余额
                                            <a href="https://my.luosimao.com/shop/goods">充值</a></li>
                                    </ul>
                                </div>
                                <div class="menu-bd">
                                    <!-- <a href="-->
                                    <!--" class="right"><i class="fa fa-power-off"></i> 退出登录</a>-->
                                    <a href="https://my.luosimao.com/user/user_log">查看账户安全日志</a></div>
                            </div>
                        </div>
                        <!-- <a class="setting" href="-->
                        <!--"><i class="fa fa-gear"></i></a>-->
                        <a class="logout" href="https://my.luosimao.com/auth/logout">
                            <i class="fa fa-power-off"></i>
                        </a>
                    </div>
                </header>
                <header class="header-mini show-for-small">
                    <div class="left logo">
                        <a href="https://my.luosimao.com/">Luosimao</a></div>
                    <div class="menu right">
                        <a href="#" class="right-off-canvas-toggle">
                            <i class="fa fa-bars"></i>
                        </a>
                    </div>
                </header>
                <aside class="right-off-canvas-menu side-panel">
                    <div class="user-block">
                        <span class="name">iamwangcan</span>
                        <a href="https://my.luosimao.com/auth/setting" class="setting" title="个人设置">
                            <i class="fa fa-cog"></i>
                        </a>
                    </div>
                    <ul class="contact-info">
                        <li>
                            <a href="tel:021-31234560">
                                <i class="fa fa-phone"></i>021-31234560</a>
                        </li>
                        <li>
                            <a href="http://wpa.qq.com/msgrd?v=3&uin=1845808782&site=qq&menu=yes" target="_blank">
                                <i class="fa fa-comment"></i>售前咨询</a>
                        </li>
                        <li>
                            <a href="http://wpa.qq.com/msgrd?v=3&uin=1596833994&site=qq&menu=yes" target="_blank">
                                <i class="fa fa-comment"></i>售后咨询</a>
                        </li>
                        <li>
                            <a href="http://wpa.qq.com/msgrd?v=3&uin=1829923478&site=qq&menu=yes" target="_blank">
                                <i class="fa fa-comment"></i>技术支持</a>
                        </li>
                    </ul>
                    <nav class="nav">
                        <ul class="nav-list">
                            <li>
                                <a href="https://my.luosimao.com/dashboard" title="概览">概览</a></li>
                            <li>
                                <a href="https://my.luosimao.com/shop/goods" title="充值">充值</a></li>
                            <li>
                                <a href="https://my.luosimao.com/contact" title="通讯录">通讯录</a></li>
                            <li>
                                <a href="https://sms-my.luosimao.com/send/batch" title="短信服务">短信</a></li>
                            <li>
                                <a href="https://mail-my.luosimao.com/send" title="邮件服务">邮件</a></li>
                            <li>
                                <a target="_blank" href="https://luosimao.com/docs/api/">开发文档</a></li>
                            <li>
                                <a href="https://my.luosimao.com/auth/logout" class="button alert small expand radius" title="退出">退出</a></li>
                        </ul>
                    </nav>
                </aside>
                <aside class="sidebar">
                    <ul class="side-list">
                        <li>
                            <a href="https://my.luosimao.com/shop/goods">在线购买</a></li>
                        <li class="active">
                            <a href="https://my.luosimao.com/shop/order_list">购买记录</a></li>
                        <li>
                            <a href="https://my.luosimao.com/shop/invoice">发票开具</a></li>
                        <li>
                            <a href="https://my.luosimao.com/shop/invoice_history">开票历史</a></li>
                        <li>
                            <a href="https://my.luosimao.com/shop/vat_profile">增票资质</a></li>
                    </ul>
                    <div class="side-expand">
                        <a href="#" class="button info tiny radius">
                            <i class="fa fa-arrow-left"></i>
                        </a>
                    </div>
                </aside>
                <div class="container">
                    <nav class="top-bar show-for-small" data-topbar>
                        <div class="topbar-title">
                            <a href="#" class="toggle-topbar">购买
                                <i class="fa fa-bars"></i></a>
                        </div>
                        <section class="top-bar-section">
                            <!-- Right Nav Section -->
                            <ul class="right">
                                <li>
                                    <a href="https://my.luosimao.com/shop/goods">商品列表</a></li>
                                <li class="active">
                                    <a href="https://my.luosimao.com/shop/order_list">历史订单</a></li>
                                <li>
                                    <a href="https://my.luosimao.com/shop/invoice">发票开具</a></li>
                                <li>
                                    <a href="https://my.luosimao.com/shop/invoice_history">开票历史</a></li>
                            </ul>
                        </section>
                    </nav>
                    <section class="main-wrap sms-container">
                        <div class="pager-block">
                            <div class="pager-title-block">
                                <div class="title">购买记录</div>
                                <div class="sub-title">可以查看您以往的购买记录</div></div>
                            <ul class="breadcrumbs">
                                <li>
                                    <a href="https://my.luosimao.com/shop/goods">充值购买</a></li>
                                <li>购买记录</li></ul>
                        </div>
                        <div class="row full-width">
                            <div class="small-12 medium-12 large-12 columns">
                                <div class="block">
                                    <div class="sort-panel">
                                        <span class="tit">订单类型：</span>
                                        <ul class="button-group radius">
                                            <li>
                                                <a href="https://my.luosimao.com/shop/order_list/-1" class="button tiny ">所有订单</a></li>
                                            <li>
                                                <a href="https://my.luosimao.com/shop/order_list/0" class="button tiny secondary">等待付款</a></li>
                                            <li>
                                                <a href="https://my.luosimao.com/shop/order_list/3" class="button tiny secondary">已完成</a></li>
                                            <li>
                                                <a href="https://my.luosimao.com/shop/order_list/2" class="button tiny secondary">已取消</a></li>
                                        </ul>
                                    </div>
                                    <table class="table table-bordered table-striped footable order-list-table">
                                        <thead>
                                            <tr>
                                                <th data-hide="phone,tablet">订单号</th>
                                                <th>订单详细</th>
                                                <th data-hide="phone">商品数量</th>
                                                <th data-hide="phone">支付方式</th>
                                                <th>金额</th>
                                                <th data-hide="phone,tablet">时间</th>
                                                <th>状态</th>
                                                <th data-hide="phone">操作</th></tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td height="36">#1107216</td>
                                                <td>短信10,000条标准包</td>
                                                <td>1</td>
                                                <td>
                                                    <span class="label info radius">在线支付</span></td>
                                                <td>￥850.00</td>
                                                <td>2016-03-11 09:05:44</td>
                                                <td>
                                                    <a href="https://my.luosimao.com/shop/order_list/3">
                                                        <span class="label success radius">已完成</span></a>
                                                </td>
                                                <td>-</td></tr>
                                            <tr>
                                                <td height="36">#1107215</td>
                                                <td>短信10,000条标准包</td>
                                                <td>1</td>
                                                <td>
                                                    <span class="label info radius">在线支付</span></td>
                                                <td>￥850.00</td>
                                                <td>2016-03-11 08:55:46</td>
                                                <td>
                                                    <a href="https://my.luosimao.com/shop/order_list/2">
                                                        <span class="label secondary radius">已取消</span></a>
                                                </td>
                                                <td>-</td></tr>
                                        </tbody>
                                    </table>
                                    <div class="pagination-centered"></div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <a class="exit-off-canvas"></a>
            </div>
        </div>
        <script src="//s.luosimao.com/js/jquery-2.1.0.js?v=201608251421.js"></script>
        <script src="//s.luosimao.com/js/foundation.min.js?v=201608251421.js"></script>
        <script src="//s.luosimao.com/js/plugin/table/footable.js?v=201608251421.js"></script>
        <script src="//s.luosimao.com/js/module/main.js?v=201608251421.js"></script>
    </body>

</html>
