CTYPE html>
<html lang="zh">
    
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
        <title>短信服务 | 短信模板</title>
        <meta name="description" content="Luosimao">
        <link rel="stylesheet" href="//s.luosimao.com/bower/asset/sms.css?v=201608251421.css" />
        <script src="//s.luosimao.com/js/modernizr.js?v=201608251421.js"></script>
    </head>
    
    <body>
        <div class="off-canvas-wrap">
            <div class="inner-wrap">
                <header class="header hide-for-small">
                    <div class="logo">
                        <a href="https://my.luosimao.com/dashboard">Luosimao</a></div>
                    <nav class="nav">
                        <a class="link " href="https://my.luosimao.com/dashboard">概览</a>
                        <a class="link " href="https://my.luosimao.com/contact">通讯录</a>
                        <a class="link  active" href="https://sms-my.luosimao.com/send/batch">短信</a>
                        <a class="link " href="https://mail-my.luosimao.com/send">邮件</a>
                        <a class="link " href="https://voice-my.luosimao.com/send">语音验证</a>
                        <a class="link " href="https://captcha-my.luosimao.com/site/index">人机验证</a>
                        <a class="link " href="https://my.luosimao.com/shop/goods">充值</a>
                        <a class="link " target="_blank" href="https://luosimao.com/docs/api/">开发文档</a></nav>
                    <div class="menu right">
                        <span class="contact-info">
                            <a href="#" data-dropdown="drop-header-contact" aria-controls="drop-header-contact" aria-expanded="false">
                                <i class="fa fa-support"></i>联系我们</a>
                        </span>
                        <ul id="drop-header-contact" class="f-dropdown contact-info-drop" data-dropdown-content aria-hidden="true" tabindex="-1">
                            <li>
                                <i class="fa fa-phone"></i>021-31234560</li>
                            <li>
                                <a href="http://wpa.qq.com/msgrd?v=3&uin=1845808782&site=qq&menu=yes" target="_blank">
                                    <i class="fa fa-comment"></i>售前咨询</a>
                            </li>
                            <li>
                                <a href="http://wpa.qq.com/msgrd?v=3&uin=1596833994&site=qq&menu=yes" target="_blank">
                                    <i class="fa fa-comment"></i>售后咨询</a>
                            </li>
                            <li>
                                <a href="http://wpa.qq.com/msgrd?v=3&uin=1829923478&site=qq&menu=yes" target="_blank">
                                    <i class="fa fa-comment"></i>技术支持</a>
                            </li>
                        </ul>
                        <span class="member">
                            <a href="#" data-dropdown="drop-header-member" aria-controls="drop-header-member" aria-expanded="false">
                                <i class="fa fa-dashboard"></i>个人面板</a>
                        </span>
                        <div id="drop-header-member" class="f-dropdown content medium header-dropdown" data-dropdown-content aria-hidden="true" tabindex="-1">
                            <div class="header-menu">
                                <div class="menu-hd">
                                    <span class="right">
                                        <a href="https://my.luosimao.com/auth/setting">
                                            <i class="fa fa-cog"></i>修改联系信息</a>
                                    </span>
                                    <span class="username">-</span>
                                    <span class="email">-</span>
                                    <span class="phone">-</span></div>
                                <div class="menu-main">
                                    <ul class="small-block-grid-3">
                                        <li>
                                            <span class="num sms-deposit">-</span>短信余额
                                            <a href="https://my.luosimao.com/shop/goods">充值</a></li>
                                        <li>
                                            <span class="num voice-deposit">-</span>语音余额
                                            <a href="https://my.luosimao.com/shop/goods">充值</a></li>
                                        <li>
                                            <span class="num email-deposit">-</span>邮件余额
                                            <a href="https://my.luosimao.com/shop/goods">充值</a></li>
                                    </ul>
                                </div>
                                <div class="menu-bd">
                                    <!-- <a href="-->
                                    <!--" class="right"><i class="fa fa-power-off"></i> 退出登录</a>-->
                                    <a href="https://my.luosimao.com/user/user_log">查看账户安全日志</a></div>
                            </div>
                        </div>
                        <a class="logout" href="https://my.luosimao.com/auth/logout">
                            <i class="fa fa-power-off"></i>
                        </a>
                    </div>
                </header>
                <header class="header-mini show-for-small">
                    <div class="left logo">Luosimao</div>
                    <div class="menu right">
                        <a href="#" class="right-off-canvas-toggle">
                            <i class="fa fa-bars"></i>
                        </a>
                    </div>
                </header>
                <aside class="right-off-canvas-menu side-panel">
                    <div class="user-block">
                        <span class="name">iamwangcan</span>
                        <a href="https://my.luosimao.com/auth/setting" class="setting">
                            <i class="fa fa-cog"></i>
                        </a>
                    </div>
                    <ul class="contact-info">
                        <li>
                            <a href="tel:021-31234560">
                                <i class="fa fa-phone"></i>021-31234560</a>
                        </li>
                        <li>
                            <a href="http://wpa.qq.com/msgrd?v=3&uin=1845808782&site=qq&menu=yes" target="_blank">
                                <i class="fa fa-comment"></i>售前咨询</a>
                        </li>
                        <li>
                            <a href="http://wpa.qq.com/msgrd?v=3&uin=1596833994&site=qq&menu=yes" target="_blank">
                                <i class="fa fa-comment"></i>售后咨询</a>
                        </li>
                        <li>
                            <a href="http://wpa.qq.com/msgrd?v=3&uin=1829923478&site=qq&menu=yes" target="_blank">
                                <i class="fa fa-comment"></i>技术支持</a>
                        </li>
                    </ul>
                    <nav class="nav">
                        <ul class="nav-list">
                            <li>
                                <a href="https://my.luosimao.com/dashboard">概览</a></li>
                            <li>
                                <a href="https://my.luosimao.com/shop/goods">充值</a></li>
                            <li>
                                <a href="https://my.luosimao.com/contact">通讯录</a></li>
                            <li>
                                <a href="https://sms-my.luosimao.com/send/batch">短信</a></li>
                            <li>
                                <a href="https://mail-my.luosimao.com/send">邮件</a></li>
                            <li>
                                <a href="https://voice-my.luosimao.com/send">语音</a></li>
                            <li>
                                <a target="_blank" href="https://luosimao.com/docs/api/">开发文档</a></li>
                            <li>
                                <a href="https://my.luosimao.com/auth/logout" class="button alert small expand radius">退出</a></li>
                        </ul>
                    </nav>
                </aside>
                <nav class="top-bar show-for-small" data-topbar>
                    <div class="topbar-title">
                        <a href="#" class="toggle-topbar">短信服务
                            <i class="fa fa-bars"></i></a>
                    </div>
                    <section class="top-bar-section">
                        <!-- Right Nav Section -->
                        <ul class="right">
                            <li>
                                <a href="https://sms-my.luosimao.com/send/batch">批量发送</a></li>
                            <li>
                                <a href="https://sms-my.luosimao.com/api">触发发送</a></li>
                            <li>
                                <a href="https://sms-my.luosimao.com/signature">签名管理</a></li>
                            <li class="active">
                                <a href="https://sms-my.luosimao.com/template/index">短信模板</a></li>
                            <li>
                                <a href="https://sms-my.luosimao.com/send/history">发送历史</a></li>
                            <li>
                                <a href="https://sms-my.luosimao.com/incoming">上行回复</a></li>
                            <li>
                                <a href="https://sms-my.luosimao.com/setting">余额提醒</a></li>
                            <li>
                                <a href="https://sms-my.luosimao.com/api/white_list">IP白名单</a></li>
                            <li>
                                <a href="https://sms-my.luosimao.com/send/push">推送设置</a></li>
                            <!-- <li><a href="https://sms-my.luosimao.com/send/black">黑名单</a></li>
                            -->
                        </ul>
                    </section>
                </nav>
                <div class="container">
                    <aside class="sidebar">
                        <ul class="side-list">
                            <li>
                                <a href="https://sms-my.luosimao.com/send/batch">批量发送</a></li>
                            <li>
                                <a href="https://sms-my.luosimao.com/api">触发发送</a></li>
                            <li>
                                <a href="https://sms-my.luosimao.com/signature">签名管理</a></li>
                            <li class="active">
                                <a href="https://sms-my.luosimao.com/template/index">短信模板</a></li>
                            <li>
                                <a href="https://sms-my.luosimao.com/send/history">发送历史</a></li>
                            <li>
                                <a href="https://sms-my.luosimao.com/send/statistics">发送统计</a></li>
                            <li>
                                <a href="https://sms-my.luosimao.com/incoming">上行回复</a></li>
                            <li>
                                <a href="https://sms-my.luosimao.com/api/white_list">IP白名单</a></li>
                            <li>
                                <a href="https://sms-my.luosimao.com/black_list/index">号码黑名单</a></li>
                            <li>
                                <a href="https://sms-my.luosimao.com/setting">余额提醒</a></li>
                            <li>
                                <a href="https://sms-my.luosimao.com/send/push">推送设置</a></li>
                        </ul>
                    </aside>
                    <section class="main-wrap sms-container">
                        <div class="pager-block">
                            <div class="pager-title-block">
                                <div class="title">短信模板</div>
                                <div class="sub-title">使用接口进行发送时会将进行模板匹配,符合模板的内容将不再进行审核，您可以在这里查看、提交模板。</div></div>
                            <script>var url_key = '';</script>
                            <ul class="breadcrumbs">
                                <li>短信服务</li>
                                <li>短信模板</li></ul>
                        </div>
                        <div class="row full-width">
                            <div class="small-12 columns">
                                <div class="sms-template-sort">
                                    <a href="#" id="sms-template-add-btn" class="button radius tiny">添加新的短信模板</a>
                                    <a href="#" id="sms-template-test-btn" class="button radius tiny">短信模板测试</a>
                                    <!-- <input type="text" placeholder="请输入关键词或者模板ID" class="search">
                                    <input type="submit" value="搜索" class="search-btn button radius tiny">
                                    -->
                                </div>
                                <div class="block">
                                    <div class="block-hd">
                                        <h2>模板列表</h2></div>
                                    <div class="block-bd">
                                        <table class="table table-bordered sms-template-list footable">
                                            <thead>
                                                <tr>
                                                    <th data-hide="phone" class="num">#</th>
                                                    <th class="content">模板内容</th>
                                                    <th class="status">审核状态</th>
                                                    <th data-hide="phone,tablet" class="time">提交时间</th>
                                                    <th data-hide="phone" class="ctr">操作</th></tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>#1003</td>
                                                    <td>业主家装报名：###已报名家装服务，电话：###，请立即回访【团家汇】</td>
                                                    <td>
                                                        <span class="label radius success">已生效</span></td>
                                                    <td>2016-09-06 16:11:10</td>
                                                    <td>
                                                        <a data-id="1365" class="button tiny secondary radius template-delete">删除</a></td>
                                                </tr>
                                                <tr>
                                                    <td>#1002</td>
                                                    <td>您已成功预约，装修顾问会在15分钟内联系您，了解您的具体装修需求，请保持您的电话畅通，详情请致电###。如非本人操作，请忽略!【团家汇】</td>
                                                    <td>
                                                        <span class="label radius success">已生效</span></td>
                                                    <td>2016-09-06 15:58:33</td>
                                                    <td>
                                                        <a data-id="1364" class="button tiny secondary radius template-delete">删除</a></td>
                                                </tr>
                                                <tr>
                                                    <td>#1001</td>
                                                    <td>您已成功预约，装修顾问会在15分钟内联系您，了解您的具体装修需求，请保持您的电话畅通，详情请致电###【团家汇】</td>
                                                    <td>
                                                        <span class="label radius success">已生效</span></td>
                                                    <td>2016-09-06 12:10:00</td>
                                                    <td>
                                                        <a data-id="1361" class="button tiny secondary radius template-delete">删除</a></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <div class="pagination-centered"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <a class="exit-off-canvas"></a>
            </div>
        </div>
        <!-- 添加短信模板 -->
        <div class="reveal-modal small" id="sms-template-add" data-reveal>
            <div class="reveal-modal-hd">
                <span aria-label="Close" class="right close-reveal-modal">
                    <i class="fa fa-close"></i>
                </span>添加新的短信模板</div>
            <div class="row">
                <div class="small-12 columns">
                    <div class="panel radius tips">
                        <ul>
                            <li>模板提交时请提供示例短信内容，并使用
                                <span class="label radius info">###</span>注明会产生变化的部分，示例如下:
                                <br>尊敬的###，您已发起提现申请，提现金额###元，申请日期###详情请登录相关后台查看【铁壳网络】
                                <br>如短信为固定内容，请直接提交内容即可</li>
                            <li>不支持营销短信、全变量短信模板，例如: 您好,###【签名】</li>
                            <li>如包含链接，请将实际链接地址写于模板内容中，便于核实</li>
                            <li>【】符号仅限签名使用，短信正文内不要使用</li>
                            <li>支持回复T或N进行短信退订回复,退订后，用户名自动加黑名单</li>
                            <li>短信按照每67个字数计费为一条短信，支持长短信，最长不超过300字</li>
                            <li>短信模板审核预计在1个工作日内完成，请耐心等待</li>
                            <li>模板生效后，即可按照模板格式提交完整短信内容，客服不再做审核</li>
                            <li>模板若审核退回，请删除模板后重新提交</li></ul>
                    </div>
                    <label>短信内容</label>
                    <textarea class="summary template-content" name="message" autocomplete="off" placeholder="变量部分请使用###标识,例如:您的订单号为:###,即将安排发货【短信签名】"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="small-12 columns">
                    <div class="reveal-modal-bd">
                        <input type="submit" name="submit" class="button radius success tiny template-submit" value="提交审核">
                        <span class="result"></span>
                    </div>
                </div>
            </div>
        </div>
        <!-- 添加短信模板成功 -->
        <div class="reveal-modal small" id="sms-template-add-success" data-reveal>
            <div class="reveal-modal-hd">
                <span aria-label="Close" class="right close-reveal-modal">
                    <i class="fa fa-close"></i>
                </span>添加新的短信模板</div>
            <div class="row">
                <div class="small-12 columns">
                    <div class="content">
                        <div class="icon">
                            <i class="fa fa-check"></i>
                        </div>
                        <p>您的模板已经提交成功!
                            <br>我们将在一个工作日内进行审核，请您耐心等待</p>
                        <p class="sub">
                            <a href="#" class="button radius tiny close-window">关闭窗口</a></p>
                    </div>
                </div>
            </div>
        </div>
        <!-- 短信模板匹配 -->
        <div class="reveal-modal small" id="sms-template-test" data-reveal>
            <div class="reveal-modal-hd">
                <span aria-label="Close" class="right close-reveal-modal">
                    <i class="fa fa-close"></i>
                </span>测试短信内容是否符合模板</div>
            <div class="row">
                <div class="small-12 columns">
                    <label>请输入完整短信内容</label>
                    <textarea class="summary match-content" autocomplete="off" name="message"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="small-12 columns">
                    <div class="reveal-modal-bd">
                        <input type="submit" name="submit" class="button radius success tiny match-submit" value="提交测试" />
                        <span class="result"></span>
                    </div>
                </div>
            </div>
            <div class="row template-test-result">
                <div class="small-12 columns">
                    <label>该内容符合以下模板:</label>
                    <ul class="test-result-list no-bullet"></ul>
                </div>
            </div>
        </div>
        <script src="//s.luosimao.com/js/jquery-2.1.0.js?v=201608251421.js"></script>
        <script src="//s.luosimao.com/js/plugin/table/footable.js?v=201608251421.js"></script>
        <script src="//s.luosimao.com/js/plugin/tooltip/tooltips.js?v=201608251421.js"></script>
        <script src="//s.luosimao.com/js/foundation.min.js?v=201608251421.js"></script>
        <script src="//s.luosimao.com/js/mustache.js?v=201608251421.js"></script>
        <script src="//s.luosimao.com/js/module/sms.js?v=201608251421.js"></script>
    </body>

</html>

