<!doctype html>
<html lang="zh">
    
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
        <title>概览|luosimao.com</title>
        <meta name="description" content="Luosimao">
        <link rel="stylesheet" href="//s.luosimao.com/bower/asset/dashboard.css?v=201608251421.css" />
        <script src="//s.luosimao.com/js/modernizr.js?v=201608251421.js"></script>
    </head>
    
    <body>
        <div class="off-canvas-wrap">
            <div class="inner-wrap">
                <header class="header hide-for-small">
                    <div class="logo">
                        <a href="https://my.luosimao.com/dashboard">Luosimao</a></div>
                    <nav class="nav">
                        <a class="link  active" href="https://my.luosimao.com/dashboard">概览</a>
                        <a class="link " href="https://my.luosimao.com/contact">通讯录</a>
                        <a class="link " href="https://sms-my.luosimao.com/send/batch">短信</a>
                        <a class="link " href="https://mail-my.luosimao.com/send">邮件</a>
                        <a class="link " href="https://voice-my.luosimao.com/send">语音验证</a>
                        <a class="link " href="https://captcha-my.luosimao.com/site/index">人机验证</a>
                        <a class="link " href="https://my.luosimao.com/shop/goods">充值</a>
                        <a class="link " target="_blank" href="https://luosimao.com/docs/api/">开发文档</a></nav>
                    <div class="menu right">
                        <span class="contact-info">
                            <a href="#" data-dropdown="drop-header-contact" aria-controls="drop-header-contact" aria-expanded="false">
                                <i class="fa fa-support"></i>联系我们</a>
                        </span>
                        <ul id="drop-header-contact" class="f-dropdown contact-info-drop" data-dropdown-content aria-hidden="true" tabindex="-1">
                            <li>
                                <i class="fa fa-phone"></i>021-31234560</li>
                            <li>
                                <a href="http://wpa.qq.com/msgrd?v=3&uin=1845808782&site=qq&menu=yes" target="_blank">
                                    <i class="fa fa-comment"></i>售前咨询</a>
                            </li>
                            <li>
                                <a href="http://wpa.qq.com/msgrd?v=3&uin=1596833994&site=qq&menu=yes" target="_blank">
                                    <i class="fa fa-comment"></i>售后咨询</a>
                            </li>
                            <li>
                                <a href="http://wpa.qq.com/msgrd?v=3&uin=1829923478&site=qq&menu=yes" target="_blank">
                                    <i class="fa fa-comment"></i>技术支持</a>
                            </li>
                        </ul>
                        <span class="member">
                            <a href="#" data-dropdown="drop-header-member" aria-controls="drop-header-member" aria-expanded="false">
                                <i class="fa fa-dashboard"></i>个人面板</a>
                        </span>
                        <div id="drop-header-member" class="f-dropdown content medium header-dropdown" data-dropdown-content aria-hidden="true" tabindex="-1">
                            <div class="header-menu">
                                <div class="menu-hd">
                                    <span class="right">
                                        <a href="https://my.luosimao.com/auth/setting">
                                            <i class="fa fa-cog"></i>修改联系信息</a>
                                    </span>
                                    <span class="username">-</span>
                                    <span class="email">-</span>
                                    <span class="phone">-</span></div>
                                <div class="menu-main">
                                    <ul class="small-block-grid-3">
                                        <li>
                                            <span class="num sms-deposit">-</span>短信余额
                                            <a href="https://my.luosimao.com/shop/goods">充值</a></li>
                                        <li>
                                            <span class="num voice-deposit">-</span>语音余额
                                            <a href="https://my.luosimao.com/shop/goods">充值</a></li>
                                        <li>
                                            <span class="num email-deposit">-</span>邮件余额
                                            <a href="https://my.luosimao.com/shop/goods">充值</a></li>
                                    </ul>
                                </div>
                                <div class="menu-bd">
                                    <!-- <a href="-->
                                    <!--" class="right"><i class="fa fa-power-off"></i> 退出登录</a>-->
                                    <a href="https://my.luosimao.com/user/user_log">查看账户安全日志</a></div>
                            </div>
                        </div>
                        <!-- <a class="setting" href="-->
                        <!--"><i class="fa fa-gear"></i></a>-->
                        <a class="logout" href="https://my.luosimao.com/auth/logout">
                            <i class="fa fa-power-off"></i>
                        </a>
                    </div>
                </header>
                <header class="header-mini show-for-small">
                    <div class="left logo">
                        <a href="https://my.luosimao.com/">Luosimao</a></div>
                    <div class="menu right">
                        <a href="#" class="right-off-canvas-toggle">
                            <i class="fa fa-bars"></i>
                        </a>
                    </div>
                </header>
                <aside class="right-off-canvas-menu side-panel">
                    <div class="user-block">
                        <span class="name">iamwangcan</span>
                        <a href="https://my.luosimao.com/auth/setting" class="setting" title="个人设置">
                            <i class="fa fa-cog"></i>
                        </a>
                    </div>
                    <ul class="contact-info">
                        <li>
                            <a href="tel:021-31234560">
                                <i class="fa fa-phone"></i>021-31234560</a>
                        </li>
                        <li>
                            <a href="http://wpa.qq.com/msgrd?v=3&uin=1845808782&site=qq&menu=yes" target="_blank">
                                <i class="fa fa-comment"></i>售前咨询</a>
                        </li>
                        <li>
                            <a href="http://wpa.qq.com/msgrd?v=3&uin=1596833994&site=qq&menu=yes" target="_blank">
                                <i class="fa fa-comment"></i>售后咨询</a>
                        </li>
                        <li>
                            <a href="http://wpa.qq.com/msgrd?v=3&uin=1829923478&site=qq&menu=yes" target="_blank">
                                <i class="fa fa-comment"></i>技术支持</a>
                        </li>
                    </ul>
                    <nav class="nav">
                        <ul class="nav-list">
                            <li>
                                <a href="https://my.luosimao.com/dashboard" title="概览">概览</a></li>
                            <li>
                                <a href="https://my.luosimao.com/shop/goods" title="充值">充值</a></li>
                            <li>
                                <a href="https://my.luosimao.com/contact" title="通讯录">通讯录</a></li>
                            <li>
                                <a href="https://sms-my.luosimao.com/send/batch" title="短信服务">短信</a></li>
                            <li>
                                <a href="https://mail-my.luosimao.com/send" title="邮件服务">邮件</a></li>
                            <li>
                                <a target="_blank" href="https://luosimao.com/docs/api/">开发文档</a></li>
                            <li>
                                <a href="https://my.luosimao.com/auth/logout" class="button alert small expand radius" title="退出">退出</a></li>
                        </ul>
                    </nav>
                </aside>
                <div class="container">
                    <aside class="sidebar">
                        <ul class="side-list">
                            <li class="active">
                                <a href="https://my.luosimao.com/">服务概览</a></li>
                            <li>
                                <a href="https://my.luosimao.com/article">网站公告</a></li>
                            <li>
                                <a href="https://my.luosimao.com/auth/setting">账号设置</a></li>
                            <li>
                                <a href="https://my.luosimao.com/user/user_log">安全日志</a></li>
                        </ul>
                    </aside>
                    <section class="main-wrap dash-main-wrap">
                        <div class="pager-block">
                            <div class="pager-title-block">
                                <div class="title">服务概览</div></div>
                        </div>
                        <div class="row full-width dash-item-list">
                            <div class="small-12 medium-8 large-9 columns">
                                <div class="row full-width chart-grid-line">
                                    <div class="small-12 medium-12 large-6 columns">
                                        <div class="item">
                                            <div class="hd">
                                                <span class="total">余额
                                                    <i class="num">9,649</i>
                                                    <a href="https://my.luosimao.com/shop/goods/message" title="立即充值">立即充值</a></span>
                                                <h5>短信服务
                                                    <span class="etc">（单位:条）</span></h5>
                                            </div>
                                            <div class="bd">
                                                <div class="chart">
                                                    <div class="row full-width detail-data">
                                                        <div class="small-4 columns">
                                                            <span class="num">0</span>
                                                            <span class="word">今日</span></div>
                                                        <div class="small-4 columns">
                                                            <span class="num">2</span>
                                                            <span class="word">本周(截至昨日)</span></div>
                                                        <div class="small-4 columns">
                                                            <span class="num">371</span>
                                                            <span class="word">累计发送(截至昨日)</span></div>
                                                    </div>
                                                    <div class="chart-detail" id="dash_sms_chart" style="width:100%"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="small-12 medium-12 large-6 columns">
                                        <div class="item">
                                            <div class="hd">
                                                <span class="total">余额
                                                    <i class="num">0</i>
                                                    <a href="https://my.luosimao.com/shop/goods/voice" title="立即充值">立即充值</a></span>
                                                <h5>语音验证
                                                    <span class="etc">（单位:通）</span></h5>
                                            </div>
                                            <div class="bd">
                                                <div class="row full-width detail-data">
                                                    <div class="small-4 columns">
                                                        <span class="num">0</span>
                                                        <span class="word">今日</span></div>
                                                    <div class="small-4 columns">
                                                        <span class="num">0</span>
                                                        <span class="word">本周(截至昨日)</span></div>
                                                    <div class="small-4 columns">
                                                        <span class="num">0</span>
                                                        <span class="word">累计发送(截至昨日)</span></div>
                                                </div>
                                                <div class="chart">
                                                    <div class="chart-detail" id="dash_voice_chart"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row full-width chart-grid">
                                    <div class="small-12 medium-12 large-6 columns">
                                        <div class="item">
                                            <div class="hd">
                                                <span class="total">余额
                                                    <i class="num">0</i>
                                                    <a href="https://my.luosimao.com/shop/goods/mail" title="立即充值">立即充值</a></span>
                                                <h5>邮件服务
                                                    <span class="etc">（单位:封）</span></h5>
                                            </div>
                                            <div class="bd">
                                                <div class="row full-width detail-data">
                                                    <div class="small-4 columns">
                                                        <span class="num">0</span>
                                                        <span class="word">今日</span></div>
                                                    <div class="small-4 columns">
                                                        <span class="num">0</span>
                                                        <span class="word">本周(截至昨日)</span></div>
                                                    <div class="small-4 columns">
                                                        <span class="num">0</span>
                                                        <span class="word">累计发送(截至昨日)</span></div>
                                                </div>
                                                <div class="chart">
                                                    <div class="chart-detail" id="dash_mail_chart"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="small-12 medium-12 large-6 columns">
                                        <div class="item">
                                            <div class="hd">
                                                <span class="total">版本
                                                    <i class="num">免费</i></span>
                                                <h5>人机验证
                                                    <span class="etc">（单位:次）</span></h5>
                                            </div>
                                            <div class="bd">
                                                <div class="row full-width detail-data">
                                                    <div class="small-4 columns">
                                                        <span class="num">0</span>
                                                        <span class="word">今日</span></div>
                                                    <div class="small-4 columns">
                                                        <span class="num">57</span>
                                                        <span class="word">本周(截至昨日)</span></div>
                                                    <div class="small-4 columns">
                                                        <span class="num">57</span>
                                                        <span class="word">累计验证(截至昨日)</span></div>
                                                </div>
                                                <div class="chart">
                                                    <div class="chart-detail" id="dash_captcha_chart"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row full-width dash-shopping">
                                    <div class="small-12 columns">
                                        <div class="item">
                                            <div class="hd">
                                                <h5>购买记录</h5></div>
                                            <div class="bd">
                                                <table class="table table-bordered table-striped footable order-list-table">
                                                    <thead>
                                                        <tr>
                                                            <th data-hide="phone,tablet">订单号</th>
                                                            <th>订单详细</th>
                                                            <th data-hide="phone">商品数量</th>
                                                            <th data-hide="phone">支付方式</th>
                                                            <th>金额</th>
                                                            <th data-hide="phone,tablet">时间</th>
                                                            <th>状态</th>
                                                            <th data-hide="phone">操作</th></tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td height="36">#1107216</td>
                                                            <td>短信10,000条标准包</td>
                                                            <td>1</td>
                                                            <td>
                                                                <span class="label info radius">在线支付</span></td>
                                                            <td>￥850.00</td>
                                                            <td>2016-03-11 09:05:44</td>
                                                            <td>
                                                                <a href="https://my.luosimao.com/shop/order_list/3">
                                                                    <span class="label success radius">已完成</span></a>
                                                            </td>
                                                            <td>-</td></tr>
                                                        <tr>
                                                            <td height="36">#1107215</td>
                                                            <td>短信10,000条标准包</td>
                                                            <td>1</td>
                                                            <td>
                                                                <span class="label info radius">在线支付</span></td>
                                                            <td>￥850.00</td>
                                                            <td>2016-03-11 08:55:46</td>
                                                            <td>
                                                                <a href="https://my.luosimao.com/shop/order_list/2">
                                                                    <span class="label secondary radius">已取消</span></a>
                                                            </td>
                                                            <td>-</td></tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="small-12 medium-4 large-3 columns">
                                <div class="aside-section account-info">
                                    <div class="hd">
                                        <a href="https://my.luosimao.com/auth/setting" class="right">修改</a>
                                        <h5>账户信息</h5></div>
                                    <div class="bd">
                                        <label>用户名</label>iamwangcan
                                        <label>电子邮件</label>iamwangcan@163.com
                                        <label>联系电话</label>13811974106
                                        <div class="panel callout radius">请确保联系方式正确及畅通,便于我们及时通知相关事务</div></div>
                                </div>
                                <div class="aside-section site-notice">
                                    <div class="hd">
                                        <a href="https://my.luosimao.com/article" class="right">查看所有</a>
                                        <h5>最新公告</h5></div>
                                    <div class="bd">
                                        <ul class="notice-block no-bullet">
                                            <li>
                                                <span class="dot"></span>
                                                <a href="https://my.luosimao.com/article/detail/76" class="tit im">服务价格调整公告</a>
                                                <span class="timer">07-13 10:57:20</span></li>
                                            <li>
                                                <span class="dot"></span>
                                                <a href="https://my.luosimao.com/article/detail/63" class="tit im">关于防范短信被刷的重要通知</a>
                                                <span class="timer">07-29 11:04:00</span></li>
                                            <li>
                                                <span class="dot"></span>
                                                <a href="https://my.luosimao.com/article/detail/74" class="tit ">近期网站重要功能更新公告</a>
                                                <span class="timer">05-07 12:50:21</span></li>
                                            <li>
                                                <span class="dot"></span>
                                                <a href="https://my.luosimao.com/article/detail/73" class="tit ">2016年春节放假期间工作安排通知</a>
                                                <span class="timer">01-22 10:54:14</span></li>
                                            <li>
                                                <span class="dot"></span>
                                                <a href="https://my.luosimao.com/article/detail/71" class="tit ">2015年国庆放假期间工作安排通知</a>
                                                <span class="timer">09-25 11:15:24</span></li>
                                            <li>
                                                <span class="dot"></span>
                                                <a href="https://my.luosimao.com/article/detail/69" class="tit ">2015年春节放假期间工作安排通知</a>
                                                <span class="timer">02-04 11:08:39</span></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="aside-section dash-help">
                                    <div class="bd">
                                        <h6>购买相关</h6>
                                        <div class="row">
                                            <div class="small-6 columns">
                                                <a href="https://luosimao.com/docs/guid/17#offline" target="_blank">线下打款流程</a></div>
                                            <div class="small-6 columns">
                                                <a href="https://luosimao.com/docs/guid/17#vat">发票开具相关</a></div>
                                        </div>
                                        <h6>短信服务</h6>
                                        <div class="row">
                                            <div class="small-6 columns">
                                                <a href="https://luosimao.com/docs/sms/8#check" target="_blank">短信内容须知</a></div>
                                            <div class="small-6 columns">
                                                <a href="https://luosimao.com/docs/api/" target="_blank">短信接口文档</a></div>
                                        </div>
                                        <div class="row">
                                            <div class="small-6 columns">
                                                <a href="https://my.luosimao.com/article/detail/63" target="_blank">接口被刷解决方案</a></div>
                                            <div class="small-6 columns"></div>
                                        </div>
                                        <h6>语音验证</h6>
                                        <div class="row">
                                            <div class="small-6 columns">
                                                <a href="https://luosimao.com/docs/api/51" target="_blank">语音接口文档</a></div>
                                            <div class="small-6 columns"></div>
                                        </div>
                                        <h6>人机验证</h6>
                                        <div class="row">
                                            <div class="small-6 columns">
                                                <a href="https://luosimao.com/docs/api/56" target="_blank">人机验证接口文档</a></div>
                                            <div class="small-6 columns"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <a href="#" class="exit-off-canvas"></a>
            </div>
        </div>
        <script src="//s.luosimao.com/js/jquery-2.1.0.js?v=201608251421.js"></script>
        <script src="//s.luosimao.com/js/foundation.min.js?v=201608251421.js"></script>
        <script src="//s.luosimao.com/js/plugin/charts/highcharts.src.js?v=201608251421.js"></script>
        <script src="//s.luosimao.com/js/plugin/table/footable.js?v=201608251421.js"></script>
        <script src="//s.luosimao.com/js/plugin/echarts/echarts.min.js?v=201608251421.js"></script>
        <script src="//s.luosimao.com/js/module/main_v2.js?v=201608251421.js"></script>
        <script>var send_info = $.parseJSON('[{"x":"16\/09\/01","y":"0"},{"x":"16\/09\/02","y":"0"},{"x":"16\/09\/03","y":"0"},{"x":"16\/09\/04","y":"0"},{"x":"16\/09\/05","y":"0"},{"x":"16\/09\/06","y":"2"},{"x":"16\/09\/07","y":0}]');
            var mail_info = $.parseJSON('[{"x":"16\/09\/01","y":"0"},{"x":"16\/09\/02","y":"0"},{"x":"16\/09\/03","y":"0"},{"x":"16\/09\/04","y":"0"},{"x":"16\/09\/05","y":"0"},{"x":"16\/09\/06","y":"0"},{"x":"16\/09\/07","y":0}]');
            var voice_info = $.parseJSON('[{"x":"16\/09\/01","y":"0"},{"x":"16\/09\/02","y":"0"},{"x":"16\/09\/03","y":"0"},{"x":"16\/09\/04","y":"0"},{"x":"16\/09\/05","y":"0"},{"x":"16\/09\/06","y":"0"},{"x":"16\/09\/07","y":0}]');
            var captcha_info = $.parseJSON('[{"label":"91\u6700\u7231","data":[{"x":"16\/09\/01","y":0},{"x":"16\/09\/02","y":0},{"x":"16\/09\/03","y":0},{"x":"16\/09\/04","y":0},{"x":"16\/09\/05","y":0},{"x":"16\/09\/06","y":"2"},{"x":"16\/09\/07","y":"55"},{"x":"16\/09\/08","y":"0"}]}]');</script>
    </body>

</html>
